{% extends "base.html" %}
{% load static %}
{% block head %}
    <script src="{% static "d3.js" %}"></script>
    <script>
        var d3_geojson_url = "{% static '4_niedrig.geojson' %}";
        var d3_api_url = "https://fahrplandatengarten.de/netzkarte/d3api";
        {#var d3_api_url = '{% url "netzkarte:d3api" %}'#}
    </script>
{% endblock %}
{% block content %}
    <h1 class="title is-1 has-text-centered">Netzkarte</h1>
    <div class="columns is-centered">
        <svg id="net" style="height: 800px; width: 800px"></svg>
    </div>

    <script src="{% static "create_map.js" %}"></script>
{% endblock %}